@font-face {
  font-family: "Oswald";
  src: url(./fonts/Oswald-Medium.ttf);
}
/*HEADER*/
.navbar {
  background-color: #f3e9f1 !important;
}

.logo {
  width: 150px;
  height: 100%;
}

/*BODY*/
.box-body {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.title {
  font-family: "Oswald";
  font-size: 2em;
}

.issue {
  font-size: 2em;
  font-family: "oswald";
  line-height: 2em;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.row {
  --bs-gutter-x: none;
  --bs-gutter-y: none;
}

.furnitures-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.furnitures {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.furniture {
  margin-left: 15px;
  margin-right: 15px;
  width: 300px;
  height: 400px;
  border-radius: 15px !important;
  margin-bottom: 15px !important;
  padding: 0;
  background-color: #f3e9f1;
  border: 0.5px solid #B8B0B6;
}
.furniture__infos {
  margin-left: auto !important;
  margin-right: auto !important;
  color: black;
}
.furniture__infos__title {
  font-weight: bold;
  font-size: 1.2em;
}
.furniture__infos__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 5px !important;
}
.furniture__infos__price {
  position: absolute;
  right: 15px;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 25px !important;
}
.furniture__infos__button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid grey;
  background-color: white;
  border-radius: 10px;
}

.furniture img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.add-cart i {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B8B0B6;
}

/*FOOTER*/
.footer {
  background-color: #f3e9f1 !important;
  width: 100%;
  height: 100%;
}

.product-container {
  width: 100%;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.dropdown:hover > #cart-dropdown {
  display: block;
}

.product-card {
  height: 450px;
}

@media all and (min-width: 350px) {
  .product-card {
    width: 375px !important;
  }
}
.card-text {
  font-size: 0.85rem !important;
}

.btn-basket {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.dropdown {
  position: relative;
  top: -10px;
}

h1 {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}

.basketTotalContainer {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
  font-size: 1.4em;
}

.basketTotalTitle {
  width: 30%;
}

.basketTotal {
  width: 10%;
  position: relative;
  left: -10px;
  margin-left: 10px;
}

.card-title {
  font-family: Oswald, sans-serif;
}

.card-price {
  position: absolute;
  bottom: 15px;
  left: 25px;
  width: 50px;
  height: 30px;
  font-weight: bold;
  font-size: 15px;
}

.error {
  text-align: center;
  margin-top: 50px !important;
  margin-bottom: 50px;
  font-size: 1.2rem;
  font-family: oswald;
  margin-top: 15px;
}

td img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.disappear {
  position: absolute;
  left: -10000em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

td i {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-top: 30px;
  margin-left: 10px;
  color: #B8B0B6;
  cursor: pointer;
}

td p {
  margin-top: 30px;
}

td span {
  margin-left: 10px;
}

button {
  margin-top: 30px;
}

@media all and (max-width: 500px) {
  tr {
    font-size: 0.8em;
  }

  .supp {
    display: none;
  }
}
.bloc-button button {
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
}

.products-form h2 {
  text-align: center;
}

.btn-color {
  background-color: #B8B0B6;
}

.correct {
  border: 2px solid green;
}

.invalid {
  border: 2px solid red;
}

.inputNumber-text {
  font-size: 12px;
  color: red;
}

.input-text {
  font-size: 12px;
  color: red;
}

.bloc-container {
  display: flex;
  flex-direction: column;
}

.quantity p {
  margin-left: 25px;
}

.bloc-container_title {
  text-align: center;
  font-size: 1.4em;
  margin-top: 35px;
  margin-bottom: 35px;
  font-family: oswald;
}
.bloc-container_title_name {
  color: #B8B0B6;
}

.bloc-container_order {
  font-size: 1.3em;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 5px;
  font-family: oswald;
}
.bloc-container_order_id {
  display: flex;
  justify-content: center;
  color: #B8B0B6;
}

.products-container {
  font-family: Oswald;
}

.bloc-container__message {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Oswald;
  margin-left: 5px;
}
.bloc-container__message__address {
  margin-bottom: 10px;
}
.bloc-container__message__address__form {
  color: #B8B0B6;
  font-weight: bold;
}
.bloc-container__message__mail__form {
  color: #B8B0B6;
  font-weight: bold;
}

/*# sourceMappingURL=styles.css.map */
