h1{
    margin-bottom: 25px;
}

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}
.products-container i{
    font-size: 25px;
    color: #B8B0B6;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.products-form h2 {
    text-align: center;
}

.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid black;
    margin: 0 auto;
}

.product-title{
    width: 45%;
}

.product-price{
    width: 15%;
    display: flex;
    align-items: center;
}
.quantity{
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.price {
    margin-left: auto ;
}
.total {
    width: 10%;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.product {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid $navbar-color;
}
.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img{
    width: 75px;
}

.basketTotalContainer{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}
.basketTotalTitle{
    width: 30%;
}

.basketTotal{
    width: 10%;
    position: relative;
    left: -10px;
}

.card-price {
    position: absolute;
    bottom: 15px;
    left: 25px;
    width: 50px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
}

.error {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-family: oswald;
    margin-top: 15px;
}
@media all and (max-width: 575px){
.bloc-container{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.width-fix{
    margin-right: 5px;
}

}


@media all and (min-width: 575px){
    .bloc-container{
        display: flex;
        flex-wrap: nowrap;
        margin-top: 25px;
        justify-content: space-evenly;
        align-items: center;
    
    }


}

.bloc-button button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto!important;
    margin-right: auto!important;
    display: flex;

}

.btn-color {
    background-color: #B8B0B6;
}

//confirmation formulaire

.correct{
    border: 2px solid green;
}

.invalid{
    border: 2px solid red;
}
.inputNumber-text{
    font-size: 12px;
    color: red;
}