.product-container{
    width: 100%;
    margin-top: 25px!important;
    margin-bottom: 25px!important;
}

.dropdown:hover > #cart-dropdown{
    display: block;
}
.product-card{
    height: 450px;
}
@media all and (min-width:350px ){

.product-card{
    width: 375px!important;
    
}
}
.card-text  {
    font-size: 0.85rem!important;
}
.btn-basket {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.dropdown {
    position: relative;
    top: -10px;
}